In [35]:
# Import Dependencies
import pandas as pd 
import numpy as np

In [2]:
# Make a reference to the vine_table.csv file path
csvpath = "Resources/vine_table.csv"
# Import the books.csv file as a DataFrame with utf-8 encoding.
vine_review_df=pd.read_csv(csvpath,encoding="utf-8")
vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [3]:
review_gr20_df=vine_review_df.loc[vine_review_df['total_votes']>=20]
review_gr20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N

In [5]:
helpful_review_df=review_gr20_df.loc[(review_gr20_df['helpful_votes']/review_gr20_df['total_votes'])>=0.5]
helpful_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N

In [22]:
vine_unpaid_df=helpful_review_df[helpful_review_df.vine=='N']
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N

In [20]:
helpful_review_df["vine"].count()
helpful_review_df.loc[helpful_review_df["vine"]=='Y'].count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [23]:
vine_paid_df=vine_review_df.loc[vine_review_df["vine"]=='Y']
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
59102,R2NKNL4WXWIWBG,4.0,3.0,3.0,Y,Y
1198651,RAIG9ZQDMBF5P,5.0,3.0,6.0,Y,N

In [42]:
# create a 5-star review summary list for vine reviews
total_reviews=vine_paid_df["review_id"].count()
fivestar_reviews=np.sum(vine_paid_df['star_rating'] == 5.0)
percent_fivestar=round((fivestar_reviews/total_reviews)*100,1)
vine_list=("vine",total_reviews,fivestar_reviews,percent_fivestar)
vine_list

('vine', 2, 1, 50.0)

In [43]:
# create a 5-star review summary list for non-vine reviews
total_reviews=vine_unpaid_df["review_id"].count()
fivestar_reviews=np.sum(vine_unpaid_df['star_rating'] == 5.0)
percent_fivestar=round((fivestar_reviews/total_reviews)*100,1)
nonvine_list=("non-vine",total_reviews,fivestar_reviews,percent_fivestar)
nonvine_list

('non-vine', 403807, 242889, 60.1)

In [56]:
# create a summary database which compares vine to non-vine reviews
column_names=["review type","total reviews","total 5-star reviews","% 5-star reviews"]
summary_df=pd.DataFrame(columns=column_names)
summary_df.loc[0]=vine_list
summary_df.loc[1]=nonvine_list
summary_df.set_index('review type', inplace=True)
summary_df

             total reviews  total 5-star reviews  % 5-star reviews
review type
vine                     2                     1              50.0
non-vine            403807                242889              60.1